.gridcontainer {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 5px 5px rgba(97, 94, 94, 0.2);
    grid-template-areas:
    "header header header header"
    "piu meno per diviso"
    "sette otto nove uguale"
    "quattro cinque sei uguale"
    "uno due tre uguale"
    "zero punto ac ugualeborder";
}

.gridcontainer > div {
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
    color: white;
}

.header {
    grid-area: header;
    background-color: brown;
    text-align: end!important;
    font-size: 25px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.piu {
    grid-area: piu;
    background-color: darkgreen;
    text-align: center;
    border: 1px solid darkgray;
}

.meno {
    grid-area: meno;
    background-color: darkgreen;
    text-align: center;
    border: 1px solid darkgray;
}

.per {
    grid-area: per;
    background-color: darkgreen;
    text-align: center;
    border: 1px solid darkgray;
}

.diviso {
    grid-area: diviso;
    background-color: darkgreen;
    text-align: center;
    border: 1px solid darkgray;
}

.sette {
    grid-area: sette;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

.otto {
    grid-area: otto;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

.nove {
    grid-area: nove;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

.uguale {
    grid-area: uguale;
    background-color: lightcoral;
    text-align: center;
}

.ugualeborder {
    grid-area: ugualeborder;
    background-color: lightcoral;
    text-align: center;
    border-bottom-right-radius: 10px;
}

.quattro {
    grid-area: quattro;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

.cinque {
    grid-area: cinque;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

.sei {
    grid-area: sei;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

.uno {
    grid-area: uno;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

.due {
    grid-area: due;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

.tre {
    grid-area: tre;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

.zero {
    grid-area: zero;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
    border-bottom-left-radius: 10px;
}

.punto {
    grid-area: punto;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

.ac {
    grid-area: ac;
    background-color: royalblue;
    text-align: center;
    border: 1px solid darkgray;
}

